@use './partials/colors.scss';
@use './partials/reset.scss';
@use './partials/buttons.scss';
@use './partials/cards.scss';



#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


