// *****************************************************
// ****************** STYLE CARDS ******************
// *****************************************************


.title{
    line-height: 1;
  }
  
  .img_text{
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 6px;
    padding-right: 6px;
    max-width: 40%;
    border-radius: 10px;
  }

.bg_img {
    filter: brightness(0.35);
    height: 240px;
    object-fit: cover;
    //object-position: center;
  
  }
  
  .bg_text{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border-radius: 10px;
  }
  