:root{
  --primary-orange: #F8C537;
  --primary-wheat: #FFEEDB;
  --primary-blue: #25CED1;
  --secondary-blue: #053F5C;
  --primary-azure: #97CEC9;
  --dark-orange: #D56B31;
}

.color_dark_orange{
  color: var(--dark-orange) !important;
}

.bg_dark_orange{
  background-color: var(--dark-orange) !important;
}

.color_azure{
  color: var(--primary-azure) !important;
}

.bg_azure{
  background-color: var(--primary-azure) !important;
}

.bg_blue{
  background-color: var(--primary-blue) !important;
}

.color_blue{
  color: var(--primary-blue) !important;
}

.color_secondary_blue{
  color: var(--secondary-blue) !important;
}

.bg_secondary_blue{
  background-color: var(--secondary-blue) !important;
}

.bg_wheat{
  background-color: var(--primary-wheat) !important;
}

.custom-color{
    color: var(--primary-orange) !important;
  }

.bg_custom{
    background-color: var(--primary-orange) !important;
  }







